@font-face {
    font-family: Mali;
    src: url(https://fonts.googleapis.com/css?family=Mali);
}

body{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background-size:cover 50%; */
    
}
h1{
    width: 50%;
    margin: 0 auto;
}
.manifesto{
    width: 55%;
    margin: 0 auto;
}
.manifesto{
    background-color: rgba(20, 20, 20, 0.7);
    color: #ffffff;
}
.title{
    
    font-size: 35px;
    text-align: center;
    padding-top: 45px;
}
.manifesto p {
    font-family:"Mali";
    padding: 0 55px 55px 55px;
}