*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

/* Titulo */
h1{
    font-size: 3rem; /*48px*/
    position: relative; /*Desplazar el h1 a la izquierda 50px*/
    left: 50px;
    top: 10px;
    width: 80%; /**/
    margin-bottom: 20px; /*Para separarlo (cuidado con el colapso de margenes)*/
}

/*Barra de navegacion Sticky menu */
.sticky-menu {
    background-color: darkslategray;
    position: sticky; /*Hace quedar al menú pegado arriba gracias al top=0*/
    top: 0px;
    margin-bottom: 15px;
    z-index: 12;
    padding-left: 50px ;
}

/*Enlaces*/
.menu-element a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.menu-element a:hover{
    color: white;
    text-decoration: underline;
}

.menu-element {
    display: inline-block;
    padding: 20px;
    text-align: center;
    width: 150px;

}

/*Banner*/
.banner{
    background-color: lightskyblue;
    height: 200px;
    width: 80%;
    margin-inline: auto; /*Centrado*/
    position: relative; /*Para tomar de referencia al banner al position/posicionamiento de logos al banner no le afecta en nada*/
}

/*Logos*/
.logo{
    height: 120px;
    width: 120px;
}

.logo1{
    background-color: green;
    position: absolute; /*Tomamos como referencia al banner*/
    top: 50px;
    left: 50px;
    z-index: 2;
}
.logo2{
    background-color: orange;
    position: absolute;
    bottom: 50px;
    left: 100px;
    z-index: 1;
}

/*Contenido*/
.content{
    background-color: coral;
    width: 80%;
    height: 600px;
    margin-top: 20px;
    margin-inline: auto;
    text-align: center;/*Centra el texto*/
    position: relative;

    /*Con flex
    display: flex;
    justify-content: center;
    */

}
.centered{
    background-color: lightgreen;
    position: absolute;
    height: 200px;
    width: 50%;
    line-height: 200px;/*Cetrado del texto vertical*/
    
    /*Centrado vertical conociendo la altura sin flexbox */
    position:absolute;
    margin-top: -100px; /*La mitad del heigth en negativo*/
    top: 50%;

    margin-left: 25%;/*Al darle width 50% le damos un 25% para centrarlo horizontal*/
}
.footer{
    background-color: darkslategray;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    width: 100%;
    padding-left: 50px;
}
