body{
    background-color: rgb(110, 128, 151);

}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-transform: uppercase; */
    line-height:30px;
    text-align: left;
    text-indent:32px;
    font-variant: small-caps;
    font-size: 20px;
}
/* p:first-letter{
    font-size: 1.2em;
} */
h1,h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
span{
    text-decoration: underline;
    font-style: italic;
}