/* El cuerpo del documento será de color blanco con el texto en gris. Los titulares, color rojo.
Los enlaces tendrán color rojo y tamaño de fuente 14px. No estarán subrayados, el subrayado aparecerá al pasar el ratón por encima de ellos.
Los enlaces visitados tomarán el color gris. Los activos tendrán color azul.
Los enlaces que reciban el "foco" cambiarán a tamaño 28px, con fondo negro.
También aplica una clase a la tabla para que tenga un borde punteado. */
body{
    background-color: white;
    color: grey;
}
h1,h2{
    color: red;
}
a{
    text-decoration: none;
    color:red;
    font-size: 14px;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: grey;
}
a:active{
    color: blue;
}
a:focus{
    font-size: 28px;
    background-color: black;
}
table,td{
    border:dotted 2px black;
}