a[href*=google]{
    font-size: 15px;
    border:dotted 1px orangered;
}
img[alt~=random]{
    font-size: 10px;
    font-style: italic;
    border: dashed 1px darkred;
}
img[alt~=logo]{
    font-size: 11px;
    border: dotted 1px green;
}