*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: lightskyblue;
    height: 600px;
    width: 800px;
    /* margin-inline: auto; */
    /* padding: 0.1px; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
header{
    background-color: orange;
    height: 50px;
    margin: 20px;
}
main{
    padding-left: 20px;
}

article{
    width: 369px;
    height: 490px;
    float:left; 
    background-color: aqua; 
    padding: 20px;
    margin-right: 20px;
}
article:last-child {
    margin-right: 0; /* Elimina el margen derecho del último artículo */
}



