* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh; /*Necesita la altura para centrar en vertical*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1000px;
    margin: 50px auto;
    height: 30%;

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:repeat(8,1fr);


}
.container__contenido{
    background-color: darkslategray;
    color: white;
    padding: 10px;

    grid-column: 1/6;
    grid-row: 1/5;
}
.container__img{
    background-image: url(img/img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-column: 1/6;
    grid-row: 5/9;
}


.contenido__link{
    width: 100px;
    text-align: center;
    margin-top: 10px;
}
.contenido__link a{
    width: 100%;
    text-decoration: none;
    background-color: aliceblue;
    color: black;
    padding: 10px;

    display: block;
}

@media screen and (min-width: 425px) { 
    .container__img{
        grid-column:1/4 ;
        grid-row: 1/9;
        z-index: -1;
    }
    .container__contenido{
        grid-column: 2/6 ;
        grid-row: 2/8;
        
    }
}
@media screen and (min-width: 768px) { 
    .container__contenido{
        grid-column: 3/6 ;
    }
    .container__img{
        grid-column:1/4 ;
    }
}