*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.hero__container{
    background-image: url(../img/sashimi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    min-height: 100vh;

    display: flex;
    flex-direction:column ;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.hero__info .hero__text{
    -webkit-text-stroke: 1px grey;
}
.hero__descuento,.hero__rss{
    background-color: orange;
    padding: 30px;
    width: 90%;
}
.hero__info{
    color: #fff;
}
.hero__text--title{
    color: orange;
}
.hero__text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media screen and (min-width: 768px) {
    .hero__container{
        flex-direction: row;
    }
    .hero__descuento{
        align-self: start;
        flex:0 1 calc(100%/3);
        margin-top: 25px;
        margin-left: 25px;
        max-width: 450px;
    }

    .hero__info{
        flex:0 1 calc(100%/3);
    }

    .hero__rss{
        align-self: end;
        flex:0 1 calc(100%/3);
        margin-bottom: 25px;
        margin-right: 25px;
        max-width: 450px;
    }
    .hero__text--amount{
        font-size: 2rem;
        
    }

    .hero__text--date,.hero__text--direcction{
        color:springgreen;
        -webkit-text-stroke: 1px darkgreen;
    }
    
    .hero__text--title{
        color:orange;
        font-size: 1.5rem;
        -webkit-text-stroke: 1px #333;
    }
    


}

