*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
}
.hero{
    background-image: url(../img/japan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    position: relative;
    padding: 0.1px;
}
.wave{
position: absolute;
bottom: 0px;
width: 100%;
}
.scroll{
    height: 2200px;
    background-color: rgb(255, 0, 64);
}
span{
    color: white;
    font-size: 48px;
    line-height: 800px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}